<%= raw @templates.where(:language => I18n.locale.to_s).first.try(:description) %>
<div class="thumbnails">
   <img src="gallery/backgroud/DSC_1109-9cc0dd4358c189cffe4920fa742608cd.JPG" data-fullsrc="gallery/backgroud/DSC_1109-9cc0dd4358c189cffe4920fa742608cd.JPG" alt="Google"></img>
</div>