<nav class="navbar navbar-default navbar-fixed-top" id="top_nav" role="navigation">
  <div class="container">
    <div class="top_logo">
      <%= link_to content_tag(:span, '', :class => 'center-block top_logo_container'), root_path %>
    </div>
    <%= render :partial => 'layouts/application/mobile_menu' %>
  </div>
</nav>
<%= render :partial => 'layouts/application/menu' %>
