<ul class="nav navbar-nav languages">
  <% available_languages.each do |lang| %>
    <li><%= link_to image_tag(flag_file(lang.to_s)), url_for(params.merge(:locale => lang.to_s)), :title => t(:"languages.#{lang.to_s}") %></li>
  <% end %>
</ul>
