/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

.top48 {
    margin-top: 48px;
}
.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #1A0000;
}
.alert-error, #error_explanation, #errorExplanation {
    background-color: #E60000;
    border-color: #FF6666;
    color: #1A0000;
}
.alert, #error_explanation, #errorExplanation {
    border-radius: 10px;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.clear {
    clear: both;
}
.hidden {
    display: none;
}
.table-striped > tbody > tr:nth-child(2n+1) > td.red, .table-bordered > tbody > tr > td.red {
    background-color: #E60000;
}
.table-bordered > tbody > tr > td, .table-bordered > thead > tr > th {
    background-color: #FFFFFF;
}
.table-bordered, table-striped {
    color: black;
}
.top_logo a > div {
    height: 344px;
    background: url("/assets/title_logo.jpg") no-repeat center;
}
#top_nav, body {
    background: #2B0E0E url("/assets/top_nav_background.jpg");
}
.bottom_buttons ul li a > img {
    width: 32px;
    height: 32px;
}
@media (max-width:760px) {
    .top_logo a > div {
        //background: url("/assets/title_logo_mobile.jpg") no-repeat center;
    }
}
