<div class="clear"></div>
<div class="navbar navbar-fixed-bottom bottom_text hidden-print" style="text-align:center; margin: 0 auto; width:100%">
  <ul class="nav navbar-nav">
    <% if (text = Setting.where(:name => 'text_page_footer').first.try(:value)).present? %>
      <li><%= text %></li>
    <% end %>
  </ul>
</div>
<div class="clear"></div>