<div>
  <ul>
    <% if (fb = Setting.where(:name => 'facebook_url').first.try(:value)).present? %>
      <li><%= link_to t(:title_facebook), fb %></li>
    <% end %>
    <li><%= link_to(t(:title_wififree), index_admin_pages_path) %></li>
  </ul>
</div>